<div id="diy">
	<div id="layout">
		<div id="default-layout" class="default-diy">
			<div id="layout-container">
				<div class="header px-6 justify-end">
					<img id="logo" alt="LOGO" src="https://p.pstatp.com/origin/ffe10002f518b2105736"
					class="w-12 absolute left-0 z-50 transition cursor-pointer ml-6" />
					<div id="pc" class="relative">
						<ul class="menu hide none-active-wzgd">
							<%- partial( '_partial/zujian/caidan') %>
						</ul>
					</div>
					<%- partial( '_partial/zujian/pecaidan') %>
				</div>
				<div class="scroll-area">
					<div class="index" style="text-align: center;padding-top: 9.9rem;">
						<img src="https://p.pstatp.com/origin/137ac00030f0d60f387c8" alt="" class="tips-404"
						style=" margin: 0 auto; " />
						<h1>
							页面走丢了 (～￣▽￣)～
						</h1>
					</div>
				</div>
				<div class="sidebar_wo" id="leimu">
					<img src="https://cdn.jsdelivr.net/gh/fz6m/Private-web@2.0.7/image/bottom/leimu1.png"
					alt="雷姆" onmouseover="this.src='https://cdn.jsdelivr.net/gh/fz6m/Private-web@2.0.7/image/bottom/leimu2.png'"
					onmouseout="this.src='https://cdn.jsdelivr.net/gh/fz6m/Private-web@2.0.7/image/bottom/leimu1.png'"
					/>
				</div>
				<div class="sidebar_wo" id="lamu">
					<img src="https://cdn.jsdelivr.net/gh/fz6m/Private-web@2.0.7/image/bottom/lamu1.png"
					alt="拉姆" onmouseover="this.src='https://cdn.jsdelivr.net/gh/fz6m/Private-web@2.0.7/image/bottom/lamu2.png'"
					onmouseout="this.src='https://cdn.jsdelivr.net/gh/fz6m/Private-web@2.0.7/image/bottom/lamu1.png'"
					/>
				</div>
			</div>
		</div>
	</div>
</div>
<style>
	@media (max-width:640px){ .index { margin-right: 16px; } }
</style>