        <div class="flex xs:flex-col sm:flex-row justify-center items-center select-none my-16"> 

         <div class="mx-12 xs:mb-10 md:mb-0 flex items-center"> 
          <svg style="animation: sport .999s" id="svg_2" width="283" height="64" viewbox="0 0 283 64" fill="none" xmlns="http://www.w3.org/2000/svg">
           <path d="M141.04 16c-11.04 0-19 7.2-19 18s8.96 18 20 18c6.67 0 12.55-2.64 16.19-7.09l-7.65-4.42c-2.02 2.21-5.09 3.5-8.54 3.5-4.79 0-8.86-2.5-10.37-6.5h28.02c.22-1.12.35-2.28.35-3.5 0-10.79-7.96-17.99-19-17.99zm-9.46 14.5c1.25-3.99 4.67-6.5 9.45-6.5 4.79 0 8.21 2.51 9.45 6.5h-18.9zM248.72 16c-11.04 0-19 7.2-19 18s8.96 18 20 18c6.67 0 12.55-2.64 16.19-7.09l-7.65-4.42c-2.02 2.21-5.09 3.5-8.54 3.5-4.79 0-8.86-2.5-10.37-6.5h28.02c.22-1.12.35-2.28.35-3.5 0-10.79-7.96-17.99-19-17.99zm-9.45 14.5c1.25-3.99 4.67-6.5 9.45-6.5 4.79 0 8.21 2.51 9.45 6.5h-18.9zM200.24 34c0 6 3.92 10 10 10 4.12 0 7.21-1.87 8.8-4.92l7.68 4.43c-3.18 5.3-9.14 8.49-16.48 8.49-11.05 0-19-7.2-19-18s7.96-18 19-18c7.34 0 13.29 3.19 16.48 8.49l-7.68 4.43c-1.59-3.05-4.68-4.92-8.8-4.92-6.07 0-10 4-10 10zm82.48-29v46h-9V5h9zM36.95 0L73.9 64H0L36.95 0zm92.38 5l-27.71 48L73.91 5H84.3l17.32 30 17.32-30h10.39zm58.91 12v9.69c-1-.29-2.06-.49-3.2-.49-5.81 0-10 4-10 10V51h-9V17h9v9.2c0-5.08 5.91-9.2 13.2-9.2z" fill="#000" />
          </svg> 
          <div> 
           <p class="mb-1 xs:text-sm sm:text-lg text-gray-600 font-bold whitespace-no-wrap"><a rel="noopener noreferrer" target="_blank" href="https://vercel.com/">部署于Vercel</a></p> 
           <p class="w-40 text-xs text-gray-500">优秀的内容管理网站，能实现网页快速部署</p> 
          </div> 
         </div> 
         <div class="mx-12 xs:mb-10 md:mb-0 flex items-center"> 
<svg style="animation: sport .999s" id="svg_1" t="1612404292804" class="icon" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="1032" width="200" height="200"><path d="M512 921.6c-226.48 0-409.6-183.11-409.6-409.6 0-226.48 183.12-409.6 409.6-409.6 226.48 0 409.6 183.12 409.6 409.6 0 226.49-183.11 409.6-409.6 409.6z m0-771.01c-197.58 0-361.41 163.84-361.41 361.41 0 197.57 163.84 361.41 361.41 361.41 202.39 0 361.41-163.84 361.41-361.41 0-197.57-159.02-361.41-361.41-361.41z m0 0" p-id="1033"></path><path d="M352.98 512c0 56.81 30.3 109.32 79.51 137.72 49.2 28.41 109.82 28.41 159.03 0 49.2-28.41 79.51-80.91 79.51-137.72 0-56.82-30.3-109.32-79.51-137.73-49.2-28.41-109.82-28.41-159.03 0-49.21 28.41-79.52 80.92-79.51 137.73z m0 0" p-id="1034"></path></svg>
          <div> 
           <p class="mb-1 xs:text-sm sm:text-lg text-gray-600 font-bold whitespace-no-wrap"><a rel="noopener noreferrer" target="_blank" href="https://support.qq.com/products/150335?">R绒B布Q球的小站</a></p> 
           <p class="w-40 text-xs text-gray-500">专注于沙雕的每一天，欢迎交流学习</p> 
          </div> 
         </div> 
	 
         <div class="mx-12 xs:mb-10 md:mb-0 flex items-center"> 
<svg style="animation: sport .999s" id="svg_1" t="1612404118820" class="icon" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="3445" width="200" height="200"><path d="M512 0.298667L66.986667 258.389333V770.133333L512 1023.786667l445.013333-258.090667V253.952L512 0.298667z m204.714667 729.813333l-40.064 22.229333-40.064-22.229333V552.106667H387.413333v178.005333l-40.106666 22.229333-40.021334-22.229333V293.973333l40.064-22.229333 40.064 22.229333v178.005334h249.173334V293.973333l40.106666-22.229333 40.021334 22.229333v436.138667z" fill="" p-id="3446"></path></svg>
          <div> 
           <p class="mb-1 xs:text-sm sm:text-lg text-gray-600 font-bold whitespace-no-wrap"><a rel="noopener noreferrer" target="_blank" href="https://hexo.io/">由Hexo提供技术支持</a></p> 
           <p class="w-40 text-xs text-gray-500">本博客使用了 Hexo 框架生成静态页面</p> 
          </div> 
         </div> 
        </div> 